:root {
    --primary-color: rgba(45, 99, 139, 0.48);
    --secondary-color: #2ecc71;
    --background-color: #154259;
    --overlay-color: rgba(0, 0, 0, 0.5);
    --transparent-color: rgba(0, 0, 0, 0.0);
    --text-color: #e25fff;
    --hint-color: rgba(229, 154, 238, 0.75);
    --black: #000101;

    --quick-access-suggestion-color: rgba(108, 127, 152, 0.55);
}

@font-face {
    font-family: 'jetbrains-mono';
    src: url("./fonts/jetbrains-mono/JetBrainsMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "jetbrains-mono", sans-serif;

    background: var(--black);
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;

    height: 100vh;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: auto;
    opacity: 0;
    z-index: -2;

    transition: opacity 0.5s ease-in;
}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-color);

    transition: all 0.5s;
    z-index: -1;
}

.overlay.active {
    visibility: visible;
    background-color: var(--overlay-color);
}

.quickaccess {
    all: unset;

    position: absolute;

    box-sizing: border-box;
    outline: none;
    font-family: inherit;
    border: none;
    background: transparent;
    padding: 0;
    caret-color: transparent;
    cursor: default;

    color: var(--text-color);
    font-size: 200px;
    text-align: center;
    width: 100%;

    margin-top: 25vh;
    height: 30vh;

    visibility: visible;
}

#quickaccess-suggestion {
    color: var(--quick-access-suggestion-color);
    z-index: -1;
}

.search-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: var(--primary-color);
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;

    transition: 0.4s;
}

.search-box.active {
    opacity: 1;
}

.search-box.active > .search-input {
    width: 80vh;
    padding: 0 6px;

    opacity: 1;
}

.search-box.active > .search-button {
    background: var(--background-color);
    color: var(--text-color);

    opacity: 1;
}

.search-button {
    color: var(--background-color);
    float: right;
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-radius: 50%;
    border-bottom-color: var(--text-color);
    border-right-color: var(--text-color);
    border-top-color: var(--text-color);
    border-left-color: var(--text-color);
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    padding: 10px;

    opacity: 0;
    visibility: visible;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--text-color);
    font-size: 20px;
    transition: 0.4s;
    line-height: 50px;
    width: 0;

    opacity: 0;
    visibility: visible;
}

.dialog.active .search-box {
    opacity: 1;
}

.dialog.active .search-input {
    width: 80vh;
    padding: 0 6px;

    opacity: 1;
}

.dialog.active .search-button {
    background: #6A7E97;
    color: #2f3640;

    opacity: 1;
}

.dialog {
    position: absolute;
    top: 30vh;
    right: 5vw;
    bottom: auto;

    width: 40vw;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

.dialog.active {
    visibility: visible;
}

#keyword-box {
    position: unset;
    top: unset;
    transform: unset;
    right: 0;
}

#url-box {
    position: unset;
    top: unset;
    margin-top: 20px;
    transform: unset;
    right: 0;
}

#bookmark-list {
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    left: 2.5vw;
    width: 0;

    margin: 0;

    border-radius: 10px;

    background: var(--primary-color);

    visibility: hidden;

    transition: all 0.4s;
}

section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;

    visibility: hidden;
}

#bookmark-list.active {
    visibility: visible;

    padding: 20px;
    width: 45vw;

    overflow: scroll;
    scrollbar-width: none;
}

.bookmark-item {
    width: auto;
    height: 60px;

    border-radius: 5px;
    border: var(--text-color) 1px solid;

    list-style: none;

    padding: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.bookmark-item:hover {
    background: var(--background-color);
}

.bookmark-item .bookmark-title {
    font-size: 30px;
    color: var(--text-color);
}

.bookmark-item .bookmark-link {
    font-size: 20px;
    color: var(--text-color);
}

input::placeholder {
    color: var(--hint-color);
}