body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "JetBrains Mono ExtraBold", sans-serif;

    background: #0B1014 url("res/jinx-toy-8k.png");
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);

    transition: all 0.5s;
    z-index: -1;
}

.overlay.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

#quickaccess {
    all: unset;

    box-sizing: border-box;
    outline: none;
    font-family: inherit;
    border: none;
    background: transparent;
    padding: 0;
    caret-color: transparent;
    cursor: default;

    color: #DF00FF;
    font-size: 200px;
    text-align: center;
    width: 100%;

    margin-top: 25vh;
    height: 30vh;

    visibility: visible;
}

.search-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgba(45, 99, 139, 0.48);
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;

    transition: 0.4s;
}

.search-box.active {
    opacity: 1;
}

.search-box.active > .search-input {
    width: 80vh;
    padding: 0 6px;

    opacity: 1;
}

.search-box.active > .search-button {
    background: #154259;
    color: #DF00FF;

    opacity: 1;
}

.search-button {
    color: #154259;
    float: right;
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-radius: 50%;
    border-bottom-color: #DF00FF;
    border-right-color: #DF00FF;
    border-top-color: #DF00FF;
    border-left-color: #DF00FF;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    padding: 10px;

    opacity: 0;
    visibility: visible;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #DF00FF;
    font-size: 20px;
    transition: 0.4s;
    line-height: 50px;
    width: 0;

    opacity: 0;
    visibility: visible;
}

.dialog.active .search-box {
    opacity: 1;
}

.dialog.active .search-input {
    width: 80vh;
    padding: 0 6px;

    opacity: 1;
}

.dialog.active .search-button {
    background: #6A7E97;
    color: #2f3640;

    opacity: 1;
}

.dialog {
    position: absolute;
    top: 30vh;
    right: 5vw;
    bottom: auto;

    width: 40vw;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

.dialog.active {
    visibility: visible;
}

#keyword-box {
    position: unset;
    top: unset;
    transform: unset;
    right: 0;
}

#url-box {
    position: unset;
    top: unset;
    margin-top: 20px;
    transform: unset;
    right: 0;
}

#bookmark-list {
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    left: 2.5vw;
    width: 0;

    margin: 0;

    border-radius: 10px;

    background: rgba(45, 99, 139, 0.48);

    visibility: hidden;

    transition: all 0.4s;
}

section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

#bookmark-list.active {
    visibility: visible;

    padding: 20px;
    width: 45vw;

    overflow: scroll;
    scrollbar-width: none;
}

.bookmark-item {
    width: auto;
    height: 60px;

    border-radius: 5px;
    border: #DF00FF 1px solid;

    list-style: none;

    padding: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.bookmark-item:hover {
    background: rgba(45, 99, 139, 0.48);
}

.bookmark-item .bookmark-title {
    font-size: 30px;
    color: #DF00FF;
}

.bookmark-item .bookmark-link {
    font-size: 20px;
    color: #DF00FF;
}